body {
    background-image: url("../images/JgbAUV.jpg");
}

#home {
    text-align: center;
}

.img-fluid {
    padding-top: -10px;
    width: 550px;
}

.position {
    padding-top: -20px;
    margin-top: -80px;
}
.font-color {
    color: #fff;
}